@model Store.Domain.Entities.Thing

<div class="well" style="height:200px">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 40px"  >
            <img class="img-thumbnail" width="170" height="170"
                 src="@Url.Action("GetImage", "Thing",
                new { Model.ThingId })" />
        </div>
    }

    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# $")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ThingId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to the cart" />
        </div>
    }
    <span class="lead">@Model.Description</span>
</div>